{% extends "app/layout.html" %}
{% load static %}
{% block content %}
{% include 'app/filter.html' %}
<main class="content">
    <div class="search-results">
        <h2>{{ message }}</h2>
        <div class="product_list">
            {% if products %}
            {% for product in products %}
            <div class="product_item">
                <!-- Display the product image -->
                <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}">

                <!-- Product name and description -->
                <h3>{{ product.product_name }}</h3>
                <p>{{ product.product_description }}</p>

                <!-- Product price -->
                <p>${{ product.product_price }} FJD</p>

                <!-- Add to Wishlist link (with a heart icon) -->
                <a href="{% url 'add_to_wishlist' product.product_id %}" class="heart-link">
                    <img src="{% static 'images/heart.png' %}" class="heart-icon" alt="Heart Icon">
                </a>
            </div>
            {% endfor %}
            {% else %}
            <p>No products found.</p>
            {% endif %}
        </div>

    </div>
</main>
{% endblock %}


